/* ==========================================================================
   SASS VARIABLES
   ========================================================================== */

/* Fonts */
// $primary-font:
// $secondary-font:

/* Fonts sizes*/
$text-size: 12px;


/* Font colors */
$primary-color: #000000;
// $secondary-color: #FFFFFF;

/* Backgrounds */
// $background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
$primary-background-color: #FFFFFF;
$nav-background-color: #f7dd47;
// $header-background-color: #a8dadc;


/* Buttons */
// $nav-btn-color: #e63946;
// $form-btn-color: #1d3557;
// $scroll-btn-color: #e63946;
// $scroll-btn-hover-color: #a8dadc;
// $icon-hover-color: #FFCC66;

/* Other colors */
// $border-color: #1d3557;
// $separator-color: #1d3557;
// $box-shadow-color: #a8dadc;
// $text-shadow-color: #457b9d;
