/* ==========================================================================
   SASS VARIABLES
   ========================================================================== */

/* Fonts */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Heebo', sans-serif;

/* Fonts sizes*/
$text-size: 1em;
$logo-size: 2em;
$h2-size: 1.7em;
$h5-size: 1.0em;


/* Font colors */
$primary-color: #000000;
$secondary-color: #565656;
$btn-color: #FFFFFF;
$cart-color: #FFFFFF;

/* Box Shadows */
$nav-text-shadow:
  0 0 3px #fcccb3a9,
  0 0 15px #fcccb3a9,
  0 0 25px #fc7025a9,
  0 0 32px #fc7025a9,
  0 0 40px #fc7025a9,
  0 0 50px #fc7025a9;
$logo-text-shadow:
  0 0 3px #fcccb3,
  0 0 8px #fcccb3,
  0 0 20px #fcccb3,
  0 0 42px #fc7025,
  0 0 82px #fc7025,
  0 0 92px #fc7025,
  0 0 102px #fc7025;

/* Backgrounds */
$header-background-color: #120600;
$background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
$primary-background-color: #FFFFFF;
$nav-background-color: #f7dd47;
$btn-background-color: #000000;
$cart-background-color: #120600;

/* Animation for glowing logo */
@keyframes glowup {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
/* Animation for sliding cart */
@keyframes slide-in {
  0% { transform: translateX(100vw); }
  100% { transform: translateX(10vw); }
}

@-webkit-keyframes slide-in {
  0% { -webkit-transform: translateX(100vw); }
  100% { -webkit-transform: translateX(10vw); }
}

@keyframes slide-out {
  0% { transform: translateX(10vw); }
  100% { transform: translateX(100vw); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(10vw); }
  100% { -webkit-transform: translateX(100vw); }
}

/* Tablets */
@media only screen and (min-width: 768px) {
  @keyframes slide-in {
    0% { transform: translateX(100vw); }
    100% { transform: translateX(70vw); }
  }

  @-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(100vw); }
    100% { -webkit-transform: translateX(70vw); }
  }

  @keyframes slide-out {
    0% { transform: translateX(70vw); }
    100% { transform: translateX(100vw); }
  }

  @-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(70vw); }
    100% { -webkit-transform: translateX(100vw); }
  }
}

/* Buttons */
// $nav-btn-color: #e63946;
// $form-btn-color: #1d3557;
// $scroll-btn-color: #e63946;
// $scroll-btn-hover-color: #a8dadc;
// $icon-hover-color: #FFCC66;

/* Other colors */
// $border-color: #1d3557;
// $separator-color: #1d3557;
// $box-shadow-color: #a8dadc;
// $text-shadow-color: #457b9d;

