/* ==========================================================================
   SASS VARIABLES
   ========================================================================== */

/* Fonts */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Heebo', sans-serif;

/* Fonts sizes*/
$text-size: 12px;
$logo-size: 2.5em;
$h2-size: 1.7em;
$h5-size: 1.1em;


/* Font colors */
$primary-color: #000000;
$secondary-color: #565656;
$btn-color: #FFFFFF;

/* Backgrounds */
$background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
$primary-background-color: #FFFFFF;
$nav-background-color: #f7dd47;
$btn-background-color: #000000;


/* Buttons */
// $nav-btn-color: #e63946;
// $form-btn-color: #1d3557;
// $scroll-btn-color: #e63946;
// $scroll-btn-hover-color: #a8dadc;
// $icon-hover-color: #FFCC66;

/* Other colors */
// $border-color: #1d3557;
// $separator-color: #1d3557;
// $box-shadow-color: #a8dadc;
// $text-shadow-color: #457b9d;
