/* ==========================================================================
   CART STYLES Sachieko dark-mode style *cackles*
   ========================================================================== */


 @import '_variables';


 #checkoutPage {
  position: fixed;
  display: none;
  font-family: $primary-font;
  background-color: $cart-background-color;
  background-image: $background-image;
  color: $cart-color;
  top: 26vh;
  margin-bottom: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 8px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 8px;
  width: 80vw;
  height: 100vh;
  transform: translateX(+100vw);
  -webkit-transform: translateX(+100vw);
  flex-direction: row;

  .primary-btn {
    background-color: $btn-background-color;
    color: $btn-color;
    border-radius: 6px;
    border-width: 0;
    font-size: 0.9em;
    width: 7em;
    height: 2.5em;
    margin: 0.3em;
    cursor: pointer;
    -webkit-box-shadow: 0 0 8px 0px #FFFFFF;
    box-shadow: 0 0 8px 0px #FFFFFF;

    &:hover:not(:focus) {
      color: $nav-hover-color;
      box-shadow: $nav-text-shadow;
      cursor: pointer;
    }
  }
  h2 {
    padding: 1em;
  }

  div {
    flex-direction: column;
    align-content: flex-start;
  }

  th {
    text-shadow: $logo-text-shadow;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    animation: glowup 2s ease infinite;
  }
  .fa-angles-right {
    padding-left: 1vw;
    font-size: 1.5em;
    text-shadow: $logo-text-shadow;
    animation: glowup 1s ease infinite;
  }

  #checkoutForm {
    padding: 1em;
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s ease-out;
  -webkit-animation: slide-out 0.5s ease-out;
}


/* Tablets */
@media only screen and (min-width: 768px) {

}

  /* Desktops */
@media only screen and (min-width: 1080px) {

}
