/* ==========================================================================
   CART STYLES Sachieko dark-mode style *cackles*
   ========================================================================== */


 @import '_variables';


 #checkoutPage {
  position: fixed;
  display: none;
  font-family: $primary-font;
  background-color: $cart-background-color;
  background-image: $background-image;
  color: $cart-color;
  top: 26vh;
  margin-bottom: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  width: 90vw;
  height: 100vh;
  transform: translateX(+100vw);
  -webkit-transform: translateX(+100vw);
  flex-direction: row;

  div {
    flex-direction: column;
    align-content: flex-start;
  }

  .fa-angles-right {
    padding-top: 26vh;
    padding-left: 1vw;
    font-size: 1.5em;
    text-shadow: $logo-text-shadow;
    animation: glowup 1s ease infinite;
  }

  #checkoutForm {
    padding: 1em;
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s ease-out;
  -webkit-animation: slide-out 0.5s ease-out;
}


/* Tablets */
@media only screen and (min-width: 768px) {

}

  /* Desktops */
@media only screen and (min-width: 1080px) {

}
