/* ==========================================================================
   NAVIGATION BAR
   ========================================================================== */


   @import '_variables';


   header {
    padding-top: 9em;
    width: 100%;
    margin: 0;
    background-image: $background-image;
    background-color: $primary-color;
    position: fixed;

    div{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      a {
        text-transform: uppercase;
        color: $btn-color;;
        font-size: $h5-size;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding-bottom: 1em;
        font-weight: bold;
      }

      a:link {
        color: $primary-color;
      }

      a:hover {
        cursor: pointer;
      }
    }

   }
