/* ==========================================================================
   GLOBAL LAYOUT
   ========================================================================== */


   @import '_variables';


body,
html {
  margin: 0;
}

body {
  background: $primary-background-color;
  display: flex;
  flex-direction: column;
}

/* Desktop and larger styles */
@media only screen and (min-width: 1024px) {

}
