/* ==========================================================================
   GLOBAL LAYOUT
   ========================================================================== */


   @import '_variables';


body,
html {
  margin: 0;
  width: 100vw;
}

body {
  background: $primary-background-color;
  display: flex;
  flex-direction: column;
  font-size: $text-size;
  font-family: $primary-font;

  h2 {
    font-size: $h2-size;
    font-weight: bold;
    margin-bottom: 2.2vh;
  }

  h5 {
    font-size: $h5-size;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}
