/* ==========================================================================
   NAVIGATION BAR
   ========================================================================== */


   @import '_variables';


nav {
  background-color: $primary-color;
  background-image: $background-image;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7em;
  padding: 1.5em;
  z-index: 1;
  position: fixed;
  width: inherit;

  div:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    button {
      width: 7em;
      color: $btn-color;
      background-color: $btn-background-color;
    }
  }
  .logo {
    font-family: $secondary-font;
    font-size: x-large;
    font-weight: bold;


    color: #f7f2ef;
    text-shadow:
      0 0 3px #fcccb3,
      0 0 8px #fcccb3,
      0 0 20px #fcccb3,
      0 0 42px #fc7025,
      0 0 82px #fc7025,
      0 0 92px #fc7025,
      0 0 102px #fc7025
  }
}

.menu-links {
  background-color: $primary-color;
  background-image: $background-image;
  padding-top: 8em;
  position: fixed;
  width: inherit;

  div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 2vw;
    padding-left: 2vw;
  }
  a {
    text-transform: uppercase;
    font-size: $h5-size;
    font-weight: bold;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    color: $btn-color;
    padding: 0.5vw;

    &:link {
      color: $btn-color;
    }

    &:hover {
      color: $nav-background-color;
      cursor: pointer;
    }
  }
}

/* Tablets */
@media only screen and (min-width: 768px) {

}
