/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


/* Tablets */
@media only screen and (min-width: 768px) {

  nav .logo {
    font-size: 40px;
  }

  #menu article {
        float: left;
        width: 49%;
        margin-left: 0.4vw;
        margin-right: 0.4vw;
  }
}

/* Desktops and larger sizes */
@media only screen and (min-width: 1024px) {

  // fixed cart on the right?

}
